@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.animated-feature-cards::before {
		@apply pointer-events-none absolute select-none rounded-3xl opacity-0 transition-opacity duration-300 hover:opacity-100;
		background: radial-gradient(
			1000px circle at var(--x) var(--y),
			#db2777 0,
			#c084fc 25%,
			rgba(255, 255, 255, 0) 50%,
			transparent 80%
		);
		z-index: -1;
		content: '';
		inset: -1px;
	}

	.dc-bg-rainbow {
		@apply bg-[linear-gradient(to_right,#98C188_0%,#ADB77C_10%,#C1BA70_20%,#D4B664_30%,#DEAB54_40%,#E5984A_50%,#E58946_60%,#E37B45_70%,#E04C45_80%,#DC5E45_100%)];
	}
}

html,
body {
	scroll-behavior: smooth;
	scroll-padding-top: 10px;
	background: linear-gradient(180deg, #09182a 0%, #0f1319 100%);
}

::selection {
	background: #8884;
}

@layer base {
	:root {
		--x: 0;
		--y: 0;
		--radius: 0.5rem;
	}
}
